{% extends 'base.html.twig' %}

{% block title %}Site
{% endblock %}

{% block body %}

	<div class="siteTemplate">
		<div class="titreTemplate">
			<h1>Sites</h1>
		</div>
	</div>
	<a href='https://fr.freepik.com/photos/nuage'>Nuage photo créé par wirestock - fr.freepik.com</a>

	{% dump(media) %}


	<section id="tabs" class="tab-container">
		<div>
			<h2>Site de {{ site.nom }}</h2>
		</div>
		<div class="container">
			<div class="onglets">
				<a href="#" class="actif" class="col-4" class="tabA">Détail</a>
				<a href="#" class="col-4" class="tabA">Photo</a>
				<a href="#" class="col-4" class="tabA">Météo</a>
			</div>
		</div>
		<div class="panel">
			<div class="container-fluid">
				<div class="row difficulté">
					<p class="">Site intéressant pour les voies</p>
					<div class="diff1">
						<div class="inline inlineA">
							<p class="difficulté2">de
								{{ site.difficulte ? site.difficulte|join(', ') : '' }}</p>
							<p class="difficulté2">à
								{{ site.difficulte2 ? site.difficulte2|join(', ') : '' }}</p>
						</div>
					</div>
				</div>
				<h4 class="descriptionSite">Description du Site</h4>
				<div class="row inline">
					<div class="col">
						<p>Type d'escalade :</p>
					</div>
					<div class="col">
						<p>{{ site.typeEscalade ? site.typeEscalade|join(', ') : '' }}</p>
					</div>
				</div>
				<div class="row inline">
					<div class="col">
						<p>Type d'équipement</p>
					</div>
					<div class="col">
						<p>{{ site.typeEquipement ? site.typeEquipement|join(', ') : '' }}</p>
					</div>
				</div>
				<div class="row inline">
					<div class="col">
						<p>Nombre de Voie</p>
					</div>
					<div class="col">
						<p>{{ site.nombredeVoie ? site.nombredeVoie|join(', ') : '' }}</p>
					</div>
				</div>
				<div class="row inline">
					<div class="col">
						<p>Hauteur maximum</p>
					</div>
					<div class="col">
						<p>{{ site.hauteurMax }}</p>
					</div>
				</div>
				<div class="row inline">
					<div class="col">
						<p>Type de rocher</p>
					</div>
					<div class="col">
						<p>{{ site.typeRocher ? site.typeRocher|join(', ') : '' }}</p>
					</div>
				</div>
				<div class="row inline">
					<div class="col">
						<p>Profile de falaise:</p>
					</div>
					<div class="col">
						<p>{{ site.profileFalaise ? site.profileFalaise|join(', ') : '' }}</p>
					</div>
				</div>
				<div class="row inline">
					<div class="col">
						<p>Type de Prise</p>
					</div>
					<div class="col">
						<p>{{ site.typedePrise ? site.typedePrise|join(', ') : '' }}</p>
					</div>
				</div>
				<div class="row inline">
					<div class="col">
						<p>Exposition</p>
					</div>
					<div class="col">
						<p>{{ site.exposition ? site.exposition|join(', ') : '' }}</p>
					</div>
				</div>
				<div class="row inline">
					<div class="col">
						<p>Altitude aux pieds des Voies</p>
					</div>
					<div class="col">
						<p>{{ site.altitudeAuxPiedsdesVoies }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			{% for image in site.media %}
				
			{% if image != null %}
				<div class="panelImgSite">
					<img src="{{ asset('/uploads/' ~ image )}}" alt="{{image}}">
				</div>
			{% endif %}
				
				
			{% endfor %}
			{# {% for imageFile in site.media %} #}
				
			{% if site.images != null %}
				<div class="panelImgSite">
					<img src="{{ vich_uploader_asset(site, 'imageFile')}}" alt="{{site.images}}">
					
				</div>
			{% endif %}
			{# {% endfor %} #}
			

		</div>
		{# api Météo #}
		<div class="panel" id="apiMeteo">
			<section id="app">
				<h1>
					<span id="ville">Marseille</span>
					<span class="tooltip1">Tapez un autre ville si vous la souhaitez</span>
				</h1>
				<i class="wi wi-day-rain"></i>
				<h2>
					<span id="temperature">25</span>°C ( <span id="conditions">Ciel dégagé</span> )
				</h2>
			</section>    
		</div>
	</section>
	{# map #}
	<section id="map">
		<div id="macarte2"></div>
	</section>
	

	
	<div class="bouton">
		<a href="{{ path('site_index') }}">back to list</a>
		<a href="{{ path('site_edit', {'id': site.id}) }}">edit</a>
		{{ include('site/_delete_form.html.twig') }}
	</div>

	

{% endblock %}
{% block javascripts %}

<script>
	const weatherIcons = {
		"Rain": "wi wi-day-rain",
		"Clouds": "wi wi-day-cloudy",
		"Clear": "wi wi-day-sunny",
		"Snow": "wi wi-day-snow",
		"mist": "wi wi-day-fog",
		"Drizzle": "wi wi-day-sleet",
	}
	// var lat = site.latitude;
	// var lon = site.longitude;
    function capitalize(str) {
        return str[0].toUpperCase() + str.slice(1);
    }
	
    async function main2() {
        const meteo = await fetch('https://api.openweathermap.org/data/2.5/weather?q=santiago&appid=902dc3bb337a0fba35d5043e139dbc11&lang=fr&units=metric')
        // const meteo = await fetch('https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid=902dc3bb337a0fba35d5043e139dbc11&lang=fr&units=metric')
                .then(resultat => resultat.json())
                .then(json => json )
                console.log('coord')
                displayWeatherInfos(meteo)               
	}

	function displayWeatherInfos(data) {
		const name = data.name;
		const temperature = data.main.temp;
		const conditions = data.weather[0].main;
		const description = data.weather[0].description;

		document.querySelector('#ville').textContent = name;
		document.querySelector('#temperature').textContent = Math.round(temperature);
		document.querySelector('#conditions').textContent = capitalize(description);
		document.querySelector('i.wi').className = weatherIcons[conditions];
		document.querySelector('#app').className = conditions.toLowerCase();
	}               


    main2();

</script>

<script>
	// gestion du tab
	function tabsPlugin() {
		let onglets = $('#tabs .onglets a')
		let panels = $('#tabs .panel');
		// console.log(panels, onglets);
		function openPanel(index) { // console.log(index);
			panels.css({'display': 'none'}); // panels , vous allez tous disparaître
			panels.eq(index).css({'display': 'block'}); // sauf celui de l'index du lien affiche toi
		}
		function setCssClass(onglet) {
			onglets.removeClass('actif');
			onglet.addClass('actif');
		}
		function setSize() {
			let h = 0;
			panels.each(function () {
			if (h < $(this).innerHeight()) {
			h = $(this).innerHeight();
		}
		// console.log($(this).innerHeight(), h)
		});
		panels.css({'height': h});
		}
			onglets.on('click', function (ev) {
			ev.preventDefault();
			openPanel($(this).index());
			setCssClass($(this));
		});
		function init() {
			openPanel(0);
			setSize();
		}
		init();
	}
	$(document).ready(function () {
	tabsPlugin();
	});

	{# var latLng = L.latLng(site.latitude, site.longitude)        #}
	var carte = L.map('macarte2').setView([48.859669,2.349903], 10);
	//on charge les tuiles
	
	L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
			// Il est toujours bien de laisser le lien vers la source des données
			attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
			minZoom: 1,
			maxZoom: 20
		}).addTo(carte);
	
	var icone = L.icon({
				iconUrl:"../img/pointeur-de-carte.png",
				iconSize: [50, 50],
				iconAnchor: [25, 50],
				popupAnchor: [-2, -44],
			});
	// Requête
	{# $.ajax({
		url: '/api/sites'
	}).done(function(response){
			//var datas = JSON.parse(response);
			//console.log(response['hydra:member']);
			var sites = response['hydra:member'];
			var latLng = L.latLng(site.latitude, site.longitude)
			var marqueur = L.marker(latLng).addTo(carte);
			marqueur.bindPopup('<h3>'+site.nom+'</h3><p>'+site.nombredeVoie+'</p><a href="/site/'+site.id+'">site</a>');
			
	}); #}

	function buttonClickGET() {
		var url = "https://https://api.openweathermap.org/data/2.5/weather?q="+lat_long+",fr&appid=c21a75b667d6f7abb81f118dcf8d4611&units=metric"

		$.get(url, callBackGetSuccess).done(function() {
			//alert( "second success" );
		})
		.fail(function() {
			alert( "error" );
		})
		.always(function() {
			//alert( "finished" );
		});
	}
	var callBackGetSuccess = function(data) {
		console/log("donnee api", data)
		var element = document.getElementById("zone_meteo");
		//var lat_long = document.getElementById("lat_long").value;
		element.innerHTML = "La temperature est de " + data.main.temp;
	}
						
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> #}

    
    
{% endblock %}
