{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section id="section_login">
		<div>
			<h1>Page de connexion</h1>
		</div>
	</section>

	<div class="container login">

		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}
			<h1 class="h3 mb-3 font-weight-normal p-4">Connexion</h1>
			<div>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			</div>
			<div>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			</div>

			<div>
				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</div>

			<button class="btn btn-lg btn-primary m-4" type="submit">
				S'enregistrer
			</button>
			
		</form>
		<div class="section_login">
			<a href="{{ path('user_new') }}">
				<p>Première inscription</p>
			</a>
		</div>
	</div>
{% endblock %}
