{% extends 'base.html.twig' %}

{% block title %}Topo index{% endblock %}

{% block body %}
    <section id="topoIndex">
        <div>
            <h1>Recherche de Topos</h1>
        </div>
    </section>
				
    <section id="tabs" class="tab-container">
        <h2>Liste de des Topos de France</h2>
        <div class="container">
            <div class="onglets">
                    <a href="#" class="actif"  class="col-4" class="tabA">Par nom</a>
                    <a href="#" class="col-4" class="tabA">Par région</a>
                    <a href="#" class="col-4" class="tabA">Téléchargeables</a>  
            </div>
        </div>
        <div class="panel">
            {% for topo in topos %}
                <section class="index_topo">
                    {# <div> #}
                        {# <img src="{{topo.image }}"> #}
                        {# <img src="{{app.request.basepath}}/public/img/{{topo.image}}" alt="monimg" /> #}
                        {# <img src="{{ vich_uploader_asset(Topo, 'imageFile' )}}" class="card-img-top" alt="images" width="350"> #}
                    {# <p>{{ topo.image }}</p> #}
                    {# </div> #}
                    <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12 bootCols div">
                                {% for image in topo.media %}
                                    <div class="panelImgTopo">
                                        <img src="{{ asset('/uploads/' ~ image )}}" alt="Image">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 bootCols">
                                <div>
                                    <p>Titre : {{ topo.titre }}</p>
                                    <p>Région : {{ topo.region }}</p>
                                    <p>Pays : {{topo.pays}}</p> 
                                </div>
                            </div> 
                            <div class="col-md-3 col-sm-6 col-xs-12 bootCols">
                                <div>
                                    <p>Description : {{ topo.description }}</p>
                                    <p>Auteur : {{ topo.auteur }}</p>
                                    <p>Prix : {{ topo.prix }}</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 bootCols">
                                <div>
                                    <p>Type : {{ topo.Type }}</p>
                                    <p>Date de parution : {{ topo.datedeParution ? topo.datedeParution|date('Y-m-d') : '' }}</p>
                                    <p>Date de mise à jour : {{ topo.datedeMiseajour ? topo.datedeMiseajour|date('Y-m-d') : '' }}</p>
                                </div>
                            </div>
                            
                    </div>
                </section>
                {% if app.user %}
                <section class="lien">
                        <a href="{{ path('topo_show', {'id': topo.id}) }}">show</a>
                        <a href="{{ path('topo_edit', {'id': topo.id}) }}">edit</a>   
                </section>
                {% endif %}
            {% endfor %}
            
                        
        </div>
        <div class="panel">
            <p>Choisi une région</p>
            <h5>Liste des Régions</h5>   
            <img src="{{asset('img/SitesFrance.png')}}" alt="image" >  
        </div>
        <div class="panel">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius aliquam praesentium aut, quod maiores, blanditiis pariatur. Laboriosam incidunt dolorum officiis accusantium delectus velit nihil aliquid quam, suscipit qui nemo nostrum?</div>
    </section>
    
    {% if is_granted ('ROLE_USER')%}

        <div class="Ajouter_topo">
            <a href="{{ path('topo_new') }}">Créer un nouveau Topo</a>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
   
    <script>
                // gestion du tab
        function tabsPlugin(){
            let onglets = $('#tabs .onglets a')
            let panels = $('#tabs .panel');
            // console.log(panels, onglets);
            function openPanel(index){
                // console.log(index);
                panels.css({'display':'none'});//panels , vous allez tous disparaître
                panels.eq(index).css({'display':'block'});//sauf celui de l'index du lien affiche toi
            }
            function setCssClass(onglet){
                onglets.removeClass('actif');
                onglet.addClass('actif');
            }
            function setSize(){
                let h = 0;
                panels.each(function(){
                    if(h<$(this).innerHeight()){
                        h=$(this).innerHeight();
                    }
                    // console.log($(this).innerHeight(), h)
                });
                panels.css({'height':h});
            }
            onglets.on('click', function(ev){
                ev.preventDefault();
                openPanel($(this).index());
                setCssClass($(this));
            });
            function init(){
                openPanel(0);
                setSize();
            }
            init();
    }
        $(document).ready(function(){
        tabsPlugin();
        });
    </script>

{% endblock %}
   
