{% extends 'base.html.twig' %}

{% block title %}Topo index{% endblock %}

{% block body %}
    <section id="topoIndex">
        <div>
            <h1>Recherche de Topos</h1>
        </div>
    </section>
				
    <section id="tabs" class="tab-container">
        <h2>Liste de des Topos de France</h2>
        <div class="container">
            <div class="onglets">
                    <a href="#" class="actif"  class="col-4" class="tabA">Topos par régions</a>
                    <a href="#" class="col-4" class="tabA">Par nom</a>
                    <a href="#" class="col-4" class="tabA">Topos téléchargeables</a>  
            </div>
        </div>
        <div class="panel">
                        <p>Choisi une région</p>
                        <img src="{{asset('img/SitesFrance.png')}}" alt="image" >
                        
                        </div>
        <div class="panel">
            {% for topo in topos %}
                <section class="index_topo">
                    <div>
                        <p>{{ topo.image }}</p>
                    </div>
                    <div>
                        <p>{{ topo.titre }}</p>
                        <p>{{ topo.region }}</p>
                        <p>{{ topo.datedeParution ? topo.datedeParution|date('Y-m-d') : '' }}</p>
                    </div>   
                </section>
            {% endfor %}
            {# {% for image in topo.media %}
			<div>
				<img
				src="{{ asset('/uploads/' ~ image) }}" alt="image" width="350">
			</div>
		    {% endfor %} #}
        </div>
        <div class="panel">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius aliquam praesentium aut, quod maiores, blanditiis pariatur. Laboriosam incidunt dolorum officiis accusantium delectus velit nihil aliquid quam, suscipit qui nemo nostrum?</div>
    </section>
               

    {# <table class="table tableTopos">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Pays</th>
                <th>Region</th>
                <th>DatedeParution</th>
                <th>DatedeMiseajour</th>
                <th>Prix</th>
                <th>Auteur</th>
                <th>Description</th>
                <th>Type</th>
                <th>Image</th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topo in topos %}
            <tr>
                <td>{{ topo.id }}</td>
                <td>{{ topo.titre }}</td>
                <td>{{ topo.pays }}</td>
                <td>{{ topo.region }}</td>
                <td>{{ topo.datedeParution ? topo.datedeParution|date('Y-m-d') : '' }}</td>
                <td>{{ topo.datedeMiseajour ? topo.datedeMiseajour|date('Y-m-d') : '' }}</td>
                <td>{{ topo.prix }}</td>
                <td>{{ topo.auteur }}</td>
                <td>{{ topo.description }}</td>
                <td>{{ topo.type ? topo.type|join(', ') : '' }}</td>
                <td>{{ topo.image }}</td>
                <td>
                    <a href="{{ path('topo_show', {'id': topo.id}) }}">show</a>
                    <a href="{{ path('topo_edit', {'id': topo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
    {% if is_granted ('ROLE_USER')%}
{% endif %}
<div class="Ajouter_topo">
<a href="{{ path('app_login') }}">Créer un nouveau Topo</a>
</div>

{% endblock %}

{% block javascripts %}
   
    <script>
                // gestion du tab
        function tabsPlugin(){
            let onglets = $('#tabs .onglets a')
            let panels = $('#tabs .panel');
            // console.log(panels, onglets);
            function openPanel(index){
                // console.log(index);
                panels.css({'display':'none'});//panels , vous allez tous disparaître
                panels.eq(index).css({'display':'block'});//sauf celui de l'index du lien affiche toi
            }
            function setCssClass(onglet){
                onglets.removeClass('actif');
                onglet.addClass('actif');
            }
            function setSize(){
                let h = 0;
                panels.each(function(){
                    if(h<$(this).innerHeight()){
                        h=$(this).innerHeight();
                    }
                    // console.log($(this).innerHeight(), h)
                });
                panels.css({'height':h});
            }
            onglets.on('click', function(ev){
                ev.preventDefault();
                openPanel($(this).index());
                setCssClass($(this));
            });
            function init(){
                openPanel(0);
                setSize();
            }
            init();
    }
        $(document).ready(function(){
        tabsPlugin();
        });
    </script>

{% endblock %}
   
