<!DOCTYPE html>
<html>
    <head>
        <!---  Converter   -->
        <script>
			window.dataLayer = window.dataLayer || [];
            function gtag() {
            dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-84160849-4');
		</script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

        <!-- général  -->
        <meta charset="UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        {% block title %}
            Welcome!
                        
        {% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle`
        		           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}
            <!-- lien de google font -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap" rel="stylesheet">
            {# <link rel="preconnect" href="https://fonts.gstatic.com">
            			        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet"> #}
            <!--lien bootstrape -->
            {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> #}
            <!--lien bootstrape -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"> <!-- lien de font awesome -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

            <!-- Nous chargeons les fichiers CDN de Leaflet. Le CSS AVANT le JS -->
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
            <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
            <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />

            <!-- link cdnjs weather icone -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css" integrity="sha512-r/Gan7PMSRovDus++vDS2Ayutc/cSdl268u047n4z+k7GYuR7Hiw71FsT3QQxdKJBVHYttOJ6IGLnlM9IoMToQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

            {# // <script type="text/javascript" src="{{ asset ("js/main.js") }}"></script> #}

            <!-- lien carroussel -->

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
            
            <!-- lien fichier css -->

            <link rel="stylesheet" href="{{ asset ("css/style4.css") }}">
            <link rel="stylesheet" href="{{ asset ("css/stylemarker.css") }}">
            
           
        {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

                <!-- script carroussel -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--script converter-->
        {# // <script src="{{ asset('js/converter.js') }}"></script> #}

        <!--script ajax-->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{asset('js/images.js')}}"></script>

    </head>
    <body>
        <header>
            <nav>
                <a href="{{ path("front" ) }}">
                    <img class="logo" src="{{ asset("img/logoesc1.jpg" ) }}" alt="logo">
                </a>
                <label for="menu">
                    <i class="fas fa-bars"></i>
                </label>
                {# <div class="menu-btn">
				    <span></span>
			    </div> #}
                <input type="checkbox" id="menu">
                <ul class="nav-list">
                    <li>
                        <a href="{{ path("front" ) }}">
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("site_index" ) }}">
                             Sites
                        </a>
                    </li>
                    <li>
                        {# {% if app.user %} #}
                        <a href="{{ path("site_new" ) }}">
                            Ajouter un site
                        </a>
                        {# {% endif %} #}
                    </li>
                    <li>
                        <a href="{{ path("topo_index" ) }}">
                             Topos
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("site_converter" ) }}">
                            Convertisseur
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("entrainement_index" ) }}">
                            Entrainement
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("contact" ) }}">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
            
        </header>
        

        {% if app.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link"></a>
                </li>
            </ul>
        {% endif %}

        {% block body %}
        
    
        {% endblock %}
        
        {% block javascripts %}{% endblock %}
        <footer>
            <p>
                Copyright Diego R. de Massy, 2021.
            </p>
        </footer>
        
    </body>
</html>
