{% extends 'base.html.twig' %}

{% block title %}Entrainement index{% endblock %}

{% block body %}

    <section id="section_entrainement">
        <div>
            <h1>Entrainements</h1>
        </div>
    </section>
<div class="container video">
<h3>Exploits et dernière nouvelles des meilleurs grimpeurs et grimpeuses aoujourd'hui</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PCCYYxxzv7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
        
        {% for entrainement in entrainements %}
            <section class="index_entrainement">
                <div>
                    <p>{{ entrainement.id }}</p>
                    <p>{{ entrainement.exercice }}</p>
                    <p>{{ entrainement.type }}</p>
                    <p>{{ entrainement.materiel }}</p>
                    <p>{{ entrainement.description }}</p>
                </div>
                <div>
                    <p>{{ entrainement.media }}</p>
                </div>
                
                    <a href="{{ path('entrainement_show', {'id': entrainement.id}) }}">show</a>
                    <a href="{{ path('entrainement_edit', {'id': entrainement.id}) }}">edit</a>
            </section>
            <iframe width="560" height="315"
            src="https://www.youtube.com/embed/D6Ac5JpCHmI?&autoplay=1"frameborder="0" 
            allowfullscreen></iframe>
            
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        

    <a href="{{ path('entrainement_new') }}">Create new</a>
{% endblock %}
