{% extends 'base.html.twig' %}

{% block title %}Entrainement index{% endblock %}

{% block body %}

    <section id="section_entrainement">
        <div>
            <h1>Entrainements</h1>
        </div>
    </section>

    <h3 class="entrainement">Exploits et dernière nouvelles des meilleurs grimpeurs et grimpeuses aujourd'hui</h3>
    
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 ">
            <div class="card">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PCCYYxxzv7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 ">
            <div class="card">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PCCYYxxzv7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 ">
            <div class="card">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PCCYYxxzv7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {# <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PCCYYxxzv7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PCCYYxxzv7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> #}
    
    </div>
            
            
        {% for entrainement in entrainements %}
            <section class="index_entrainement">
                <div>                  
                    <div class="row">
                        <div class="col-6">
                            <p>{{ entrainement.exercice }}</p>
                            <p>{{ entrainement.type }}</p>
                        </div>
                        <div class="col-6">
                            <p>{{ entrainement.materiel }}</p>
                            <p>{{ entrainement.description }}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>{{ entrainement.media }}</p>
                </div>
                <div class="bouton3">
                    {% if app.user %}
                        <a href="{{ path('entrainement_show', {'id': entrainement.id}) }}">show</a>
                        <a href="{{ path('entrainement_edit', {'id': entrainement.id}) }}">edit</a>
                    {% endif %}
                </div>
            </section>
            
            
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        
        {% if app.user %}
            <a href="{{ path('entrainement_new') }}">Create new</a>
        {% endif %}

{% endblock %}
